In [ ]:
import pandas as pd

# Load the dataset
file_path = "/content/time-series-US-cost-per-capita-1980-2024.xlsx"  # Replace with your actual file path
df = pd.read_excel(file_path)

In [ ]:
# Drop duplicate rows if any
df = df.drop_duplicates()

In [ ]:
# Handle missing values (fill with 0 or drop, depending on use case)
df = df.fillna(0)

In [ ]:
# Convert Year column to integer (if not already)
df["Year"] = df["Year"].astype(int)

In [ ]:
# Ensure cost columns are in float format (if needed)
cost_columns = [col for col in df.columns if "Cost" in col]
df[cost_columns] = df[cost_columns].astype(float)

In [ ]:
# Rename columns for consistency (if needed)
df.rename(columns={"All Disasters Count": "Total_Disaster_Count", "All Disasters Cost": "Total_Disaster_Cost"}, inplace=True)
df.columns = df.columns.str.replace(" ", "_")

print(df.head())

   Year  Drought_Count  Drought_Cost  Flooding_Count  Flooding_Cost  \
0  1980              1         177.1               1           11.7
1  1981              0           0.0               0            0.0
2  1982              0           0.0               0            0.0
3  1983              1          40.6               3           46.5
4  1984              0           0.0               0            0.0

   Freeze_Count  Freeze_Cost  Severe_Storm_Count  Severe_Storm_Cost  \
0             0          0.0                   0                0.0
1             1          9.0                   1                6.0
2             0          0.0                   2               13.7
3             1         27.5                   0                0.0
4             0          0.0                   2               13.8

   Tropical_Cyclone_Count  Tropical_Cyclone_Cost  Wildfire_Count  \
0                       1                    9.6               0
1                       0                    0.0               0
2                       0                    0.0               0
3                       1                   40.2               0
4                       0                    0.0               0

   Wildfire_Cost  Winter_Storm_Count  Winter_Storm_Cost  Total_Disaster_Count  \
0            0.0                   0                0.0                     3
1            0.0                   0                0.0                     2
2            0.0                   1                9.4                     3
3            0.0                   0                0.0                     6
4            0.0                   0                0.0                     2

   Total_Disaster_Cost
0                198.4
1                 15.1
2                 23.0
3                154.7
4                 13.8

In [ ]:
import sqlite3

db_path = "disaster_data.db"
conn = sqlite3.connect(db_path)

# Write DataFrame to SQLite (replace if table already exists)
table_name = "disaster_records"
df.to_sql(table_name, conn, if_exists="replace", index=False)

# Verify: Read back from database
df_check = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 5;", conn)
print(df_check)

print(f"Database created successfully: {db_path}")

   Year  Drought_Count  Drought_Cost  Flooding_Count  Flooding_Cost  \
0  1980              1         177.1               1           11.7
1  1981              0           0.0               0            0.0
2  1982              0           0.0               0            0.0
3  1983              1          40.6               3           46.5
4  1984              0           0.0               0            0.0

   Freeze_Count  Freeze_Cost  Severe_Storm_Count  Severe_Storm_Cost  \
0             0          0.0                   0                0.0
1             1          9.0                   1                6.0
2             0          0.0                   2               13.7
3             1         27.5                   0                0.0
4             0          0.0                   2               13.8

   Tropical_Cyclone_Count  Tropical_Cyclone_Cost  Wildfire_Count  \
0                       1                    9.6               0
1                       0                    0.0               0
2                       0                    0.0               0
3                       1                   40.2               0
4                       0                    0.0               0

   Wildfire_Cost  Winter_Storm_Count  Winter_Storm_Cost  Total_Disaster_Count  \
0            0.0                   0                0.0                     3
1            0.0                   0                0.0                     2
2            0.0                   1                9.4                     3
3            0.0                   0                0.0                     6
4            0.0                   0                0.0                     2

   Total_Disaster_Cost
0                198.4
1                 15.1
2                 23.0
3                154.7
4                 13.8
Database created successfully: disaster_data.db

In [ ]:
conn = sqlite3.connect("/content/disaster_data.db")

# List all tables in the database
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)


print(tables)

               name
0  disaster_records

In [ ]:
conn = sqlite3.connect(db_path)
df_check = pd.read_sql("SELECT * FROM disaster_records LIMIT 5;", conn)
print(df_check)

   Year  Drought_Count  Drought_Cost  Flooding_Count  Flooding_Cost  \
0  1980              1         177.1               1           11.7
1  1981              0           0.0               0            0.0
2  1982              0           0.0               0            0.0
3  1983              1          40.6               3           46.5
4  1984              0           0.0               0            0.0

   Freeze_Count  Freeze_Cost  Severe_Storm_Count  Severe_Storm_Cost  \
0             0          0.0                   0                0.0
1             1          9.0                   1                6.0
2             0          0.0                   2               13.7
3             1         27.5                   0                0.0
4             0          0.0                   2               13.8

   Tropical_Cyclone_Count  Tropical_Cyclone_Cost  Wildfire_Count  \
0                       1                    9.6               0
1                       0                    0.0               0
2                       0                    0.0               0
3                       1                   40.2               0
4                       0                    0.0               0

   Wildfire_Cost  Winter_Storm_Count  Winter_Storm_Cost  Total_Disaster_Count  \
0            0.0                   0                0.0                     3
1            0.0                   0                0.0                     2
2            0.0                   1                9.4                     3
3            0.0                   0                0.0                     6
4            0.0                   0                0.0                     2

   Total_Disaster_Cost
0                198.4
1                 15.1
2                 23.0
3                154.7
4                 13.8

In [ ]:
query = """
SELECT SUM(Total_Disaster_Count) AS TDisaster_Count,
       SUM(Total_Disaster_Cost) AS TDisaster_Cost
FROM disaster_records
WHERE Year = 2016;
"""

# Execute the query
result = pd.read_sql(query, conn)

In [ ]:
print(result)

   TDisaster_Count  TDisaster_Cost
0               15           187.7