In [ ]:
import pandas as pd

file_path = "/content/CO2 EMISSIONS_COUNTRY 1970-2023.xlsx"
df = pd.read_excel(file_path)

In [ ]:
print(" Original Data (First 5 rows):")
print(df.head())

 Original Data (First 5 rows):
      IPCC_annex Country_code_A3           Name Substance         Y_1970  \
0    Non-Annex_I             ABW          Aruba       CO2      25.213789
1    Non-Annex_I             AFG    Afghanistan       CO2    1733.920270
2    Non-Annex_I             AGO         Angola       CO2    8933.899038
3    Non-Annex_I             AIA       Anguilla       CO2       2.177587
4  Int. Aviation             AIR  Int. Aviation       CO2  169900.398512

          Y_1971         Y_1972         Y_1973         Y_1974         Y_1975  \
0      28.827752      39.472108      44.289439      43.469148      57.396273
1    1733.709906    1693.584478    1733.904787    2190.318066    2028.966850
2    8519.512895   10366.104268   11346.995664   11806.560821   10904.652964
3       2.177689       2.273190       2.118480       2.359836       2.593654
4  169900.398512  179759.531088  187494.406315  180478.128954  174582.470528

   ...         Y_2014         Y_2015         Y_2016         Y_2017  \
0  ...     440.689215     462.025593     484.888607     466.591612
1  ...    7825.740854    8346.520776    7527.593714    8066.138489
2  ...   30887.263663   33097.498918   31285.802719   27942.098858
3  ...      27.917050      28.026636      28.362580      29.086622
4  ...  507505.760784  536213.680453  560173.838890  589919.315334

          Y_2018         Y_2019         Y_2020         Y_2021         Y_2022  \
0     465.881209     557.917266     452.553064     500.635247     502.693255
1    7932.004694    7249.068567    7054.132973    7930.781033    8259.915260
2   26258.886522   27573.216012   20710.917670   25262.831793   27353.038121
3      28.247295      27.604422      22.803655      22.017827      21.861340
4  615937.542272  625141.435256  298655.677617  331317.424680  411474.866135

          Y_2023
0     530.026098
1    8707.349830
2   28229.927610
3      22.955546
4  491632.307590

[5 rows x 58 columns]

In [ ]:
# Identify & Remove Duplicate Rows
duplicate_count = df.duplicated().sum()
print(f"\n Number of duplicate rows before dropping: {duplicate_count}")
df = df.drop_duplicates()
print(f" Number of duplicate rows after dropping: {df.duplicated().sum()}")

 Number of duplicate rows before dropping: 0
 Number of duplicate rows after dropping: 0

In [ ]:
# Handle Missing Values
missing_before = df.isnull().sum().sum()
print(f"\n Total missing values before filling: {missing_before}")
df = df.fillna(0)
missing_after = df.isnull().sum().sum()
print(f" Total missing values after filling: {missing_after}")

 Total missing values before filling: 0
 Total missing values after filling: 0

In [ ]:
df = df.rename(columns=lambda x: x[2:] if x.startswith("Y_") else x)

In [ ]:
print(df.head())

      IPCC_annex Country_code_A3           Name Substance           1970  \
0    Non-Annex_I             ABW          Aruba       CO2      25.213789
1    Non-Annex_I             AFG    Afghanistan       CO2    1733.920270
2    Non-Annex_I             AGO         Angola       CO2    8933.899038
3    Non-Annex_I             AIA       Anguilla       CO2       2.177587
4  Int. Aviation             AIR  Int. Aviation       CO2  169900.398512

            1971           1972           1973           1974           1975  \
0      28.827752      39.472108      44.289439      43.469148      57.396273
1    1733.709906    1693.584478    1733.904787    2190.318066    2028.966850
2    8519.512895   10366.104268   11346.995664   11806.560821   10904.652964
3       2.177689       2.273190       2.118480       2.359836       2.593654
4  169900.398512  179759.531088  187494.406315  180478.128954  174582.470528

   ...           2014           2015           2016           2017  \
0  ...     440.689215     462.025593     484.888607     466.591612
1  ...    7825.740854    8346.520776    7527.593714    8066.138489
2  ...   30887.263663   33097.498918   31285.802719   27942.098858
3  ...      27.917050      28.026636      28.362580      29.086622
4  ...  507505.760784  536213.680453  560173.838890  589919.315334

            2018           2019           2020           2021           2022  \
0     465.881209     557.917266     452.553064     500.635247     502.693255
1    7932.004694    7249.068567    7054.132973    7930.781033    8259.915260
2   26258.886522   27573.216012   20710.917670   25262.831793   27353.038121
3      28.247295      27.604422      22.803655      22.017827      21.861340
4  615937.542272  625141.435256  298655.677617  331317.424680  411474.866135

            2023
0     530.026098
1    8707.349830
2   28229.927610
3      22.955546
4  491632.307590

[5 rows x 58 columns]

In [ ]:
print("\n Column data types before conversion:")
print(df.dtypes)
for col in df.columns:
      if df[col].dtype == 'object':
            try:
                df[col] = pd.to_numeric(df[col])
            except ValueError:
                pass
print("\n Column data types after conversion:")
print(df.dtypes)

 Column data types before conversion:
IPCC_annex          object
Country_code_A3     object
Name                object
Substance           object
1970               float64
1971               float64
1972               float64
1973               float64
1974               float64
1975               float64
1976               float64
1977               float64
1978               float64
1979               float64
1980               float64
1981               float64
1982               float64
1983               float64
1984               float64
1985               float64
1986               float64
1987               float64
1988               float64
1989               float64
1990               float64
1991               float64
1992               float64
1993               float64
1994               float64
1995               float64
1996               float64
1997               float64
1998               float64
1999               float64
2000               float64
2001               float64
2002               float64
2003               float64
2004               float64
2005               float64
2006               float64
2007               float64
2008               float64
2009               float64
2010               float64
2011               float64
2012               float64
2013               float64
2014               float64
2015               float64
2016               float64
2017               float64
2018               float64
2019               float64
2020               float64
2021               float64
2022               float64
2023               float64
dtype: object

 Column data types after conversion:
IPCC_annex          object
Country_code_A3     object
Name                object
Substance           object
1970               float64
1971               float64
1972               float64
1973               float64
1974               float64
1975               float64
1976               float64
1977               float64
1978               float64
1979               float64
1980               float64
1981               float64
1982               float64
1983               float64
1984               float64
1985               float64
1986               float64
1987               float64
1988               float64
1989               float64
1990               float64
1991               float64
1992               float64
1993               float64
1994               float64
1995               float64
1996               float64
1997               float64
1998               float64
1999               float64
2000               float64
2001               float64
2002               float64
2003               float64
2004               float64
2005               float64
2006               float64
2007               float64
2008               float64
2009               float64
2010               float64
2011               float64
2012               float64
2013               float64
2014               float64
2015               float64
2016               float64
2017               float64
2018               float64
2019               float64
2020               float64
2021               float64
2022               float64
2023               float64
dtype: object

In [ ]:
print("\n Processed Data (First 5 rows):")
print(df.head())

 Processed Data (First 5 rows):
      IPCC_annex Country_code_A3           Name Substance           1970  \
0    Non-Annex_I             ABW          Aruba       CO2      25.213789
1    Non-Annex_I             AFG    Afghanistan       CO2    1733.920270
2    Non-Annex_I             AGO         Angola       CO2    8933.899038
3    Non-Annex_I             AIA       Anguilla       CO2       2.177587
4  Int. Aviation             AIR  Int. Aviation       CO2  169900.398512

            1971           1972           1973           1974           1975  \
0      28.827752      39.472108      44.289439      43.469148      57.396273
1    1733.709906    1693.584478    1733.904787    2190.318066    2028.966850
2    8519.512895   10366.104268   11346.995664   11806.560821   10904.652964
3       2.177689       2.273190       2.118480       2.359836       2.593654
4  169900.398512  179759.531088  187494.406315  180478.128954  174582.470528

   ...           2014           2015           2016           2017  \
0  ...     440.689215     462.025593     484.888607     466.591612
1  ...    7825.740854    8346.520776    7527.593714    8066.138489
2  ...   30887.263663   33097.498918   31285.802719   27942.098858
3  ...      27.917050      28.026636      28.362580      29.086622
4  ...  507505.760784  536213.680453  560173.838890  589919.315334

            2018           2019           2020           2021           2022  \
0     465.881209     557.917266     452.553064     500.635247     502.693255
1    7932.004694    7249.068567    7054.132973    7930.781033    8259.915260
2   26258.886522   27573.216012   20710.917670   25262.831793   27353.038121
3      28.247295      27.604422      22.803655      22.017827      21.861340
4  615937.542272  625141.435256  298655.677617  331317.424680  411474.866135

            2023
0     530.026098
1    8707.349830
2   28229.927610
3      22.955546
4  491632.307590

[5 rows x 58 columns]

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
# Create a connection to SQLite
conn = sqlite3.connect("co2_emissions.db")

# Save DataFrame to SQLite table
df.to_sql("emissions", conn, if_exists="replace", index=False)

print("Data successfully inserted into SQLite database.")

Data successfully inserted into SQLite database.

In [ ]:
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(query, conn)
print("List of Tables in the Database:")
print(tables)

List of Tables in the Database:
        name
0  emissions

In [ ]:
query = """
SELECT Name, "2023" AS CO2_Emissions
FROM emissions
WHERE Name IN ('India','China','United States');
"""

result = pd.read_sql(query, conn)

#Displaying the result
print(" CO₂ Emissions:")
print(result)

 CO₂ Emissions:
            Name  CO2_Emissions
0          China   1.325964e+07
1          India   2.955182e+06
2  United States   4.682039e+06