In [ ]:
import pandas as pd
import sqlite3

# Load the file
file_path = "/content/Methane Emissions 1970-2023.xlsx"
df = pd.read_excel(file_path)

# Display column names
print(df.columns)

Index([     'IPCC_annex', 'Country_code_A3',            'Name',
             'Substance',              1970,              1971,
                    1972,              1973,              1974,
                    1975,              1976,              1977,
                    1978,              1979,              1980,
                    1981,              1982,              1983,
                    1984,              1985,              1986,
                    1987,              1988,              1989,
                    1990,              1991,              1992,
                    1993,              1994,              1995,
                    1996,              1997,              1998,
                    1999,              2000,              2001,
                    2002,              2003,              2004,
                    2005,              2006,              2007,
                    2008,              2009,              2010,
                    2011,              2012,              2013,
                    2014,              2015,              2016,
                    2017,              2018,              2019,
                    2020,              2021,              2022,
                    2023],
      dtype='object')

In [ ]:
# Drop duplicate rows
df = df.drop_duplicates()

# Fill missing values with 0
df = df.fillna(0)

# Ensure all year columns are numeric
year_columns = [col for col in df.columns if isinstance(col, int)]
df[year_columns] = df[year_columns].apply(pd.to_numeric, errors='coerce')

# Convert country names to title case for consistency
df["Name"] = df["Name"].str.title()

# Print first few rows after preprocessing
print(df.head())

      IPCC_annex Country_code_A3           Name Substance        1970  \
0    Non-Annex_I             ABW          Aruba       CH4    0.383192
1    Non-Annex_I             AFG    Afghanistan       CH4  399.012248
2    Non-Annex_I             AGO         Angola       CH4  294.666101
3    Non-Annex_I             AIA       Anguilla       CH4    0.040268
4  Int. Aviation             AIR  Int. Aviation       CH4    1.188605

         1971        1972        1973        1974        1975  ...  \
0    0.425520    0.430048    0.435095    0.438069    0.440449  ...
1  397.599979  344.498184  358.548291  379.515878  401.973328  ...
2  301.541223  324.726662  343.251160  349.150089  339.798972  ...
3    0.041750    0.043157    0.044424    0.045678    0.046762  ...
4    1.188605    1.257431    1.311488    1.262267    1.221023  ...

          2014         2015         2016         2017         2018  \
0     0.740152     0.738626     0.747826     0.751525     0.757178
1   548.248540   526.610357   521.534459   519.566655   535.583702
2  1410.600720  1480.908742  1443.017369  1374.240447  1299.319041
3     0.091802     0.092707     0.092861     0.093022     0.092890
4     3.549025     3.749818     3.933658     4.151519     4.338539

          2019         2020         2021         2022         2023
0     0.764758     0.762113     0.774698     0.777828     0.784228
1   537.254342   540.005567   545.569788   566.380407   577.873509
2  1262.311889  1217.008143  1150.643375  1169.475098  1154.856142
3     0.093218     0.092860     0.092725     0.092848     0.093760
4     4.384298     2.091831     2.322804     2.884772     3.446741

[5 rows x 58 columns]

In [ ]:
conn = sqlite3.connect("methane_emissions.db")

# Save DataFrame to SQLite table
df.to_sql("emissions", conn, if_exists="replace", index=False)

print("Data successfully inserted into SQLite database.")

Data successfully inserted into SQLite database.

In [ ]:
cursor = conn.cursor()

query = "SELECT Name, `2019` FROM emissions WHERE Name IN ('Brazil', 'Australia') AND Substance = 'CH4';"
cursor.execute(query)

# Fetch and display the result
print(cursor.fetchall())

[('Australia', 5122.4500400856), ('Brazil', 21092.285271494)]