In [ ]:
import pandas as pd
import sqlite3

# Load the file
file_path = "/content/N20 EMISSIONS .xlsx"
df = pd.read_excel(file_path)

# Display column names
print(df.columns)

Index([     'IPCC_annex', 'Country_code_A3',            'Name',
             'Substance',              1970,              1971,
                    1972,              1973,              1974,
                    1975,              1976,              1977,
                    1978,              1979,              1980,
                    1981,              1982,              1983,
                    1984,              1985,              1986,
                    1987,              1988,              1989,
                    1990,              1991,              1992,
                    1993,              1994,              1995,
                    1996,              1997,              1998,
                    1999,              2000,              2001,
                    2002,              2003,              2004,
                    2005,              2006,              2007,
                    2008,              2009,              2010,
                    2011,              2012,              2013,
                    2014,              2015,              2016,
                    2017,              2018,              2019,
                    2020,              2021,              2022,
                    2023],
      dtype='object')

In [ ]:
# Drop duplicate rows
df = df.drop_duplicates()

# Fill missing values with 0
df = df.fillna(0)

# Ensure all year columns are numeric
year_columns = [col for col in df.columns if isinstance(col, int)]
df[year_columns] = df[year_columns].apply(pd.to_numeric, errors='coerce')

# Convert country names to title case for consistency
df["Name"] = df["Name"].str.title()

# Print first few rows after preprocessing
print(df.head())

      IPCC_annex Country_code_A3           Name Substance      1970      1971  \
0    Non-Annex_I             ABW          Aruba       N2O  0.002871  0.002969
1    Non-Annex_I             AFG    Afghanistan       N2O  9.481292  9.354198
2    Non-Annex_I             AGO         Angola       N2O  5.772178  6.112057
3    Non-Annex_I             AIA       Anguilla       N2O  0.000189  0.000186
4  Int. Aviation             AIR  Int. Aviation       N2O  9.601289  9.553858

        1972       1973      1974      1975  ...       2014       2015  \
0   0.003276   0.003313  0.003341  0.003793  ...   0.029876   0.030764
1   7.384952   8.082761  8.831912  9.576698  ...  14.341565  14.496226
2   6.325980   6.429306  6.541321  6.617500  ...  17.391693  17.974026
3   0.000197   0.000185  0.000209  0.000245  ...   0.002726   0.002686
4  10.056903  10.436913  9.994834  9.619535  ...  25.127708  26.549356

        2016       2017       2018       2019       2020       2021  \
0   0.032365   0.031578   0.031356   0.035950   0.030677   0.032930
1  14.946087  16.841913  14.844073  14.902370  13.896009  13.500722
2  18.063063  17.746045  17.630547  18.349293  18.194210  18.726794
3   0.002890   0.002960   0.002815   0.002767   0.002390   0.002302
4  27.725680  29.192537  30.477702  30.944552  14.785237  16.401004

        2022       2023
0   0.033871   0.035314
1  13.380052  13.422512
2  19.186939  19.274163
3   0.002292   0.002377
4  20.368989  24.336974

[5 rows x 58 columns]

In [ ]:
conn = sqlite3.connect("N2o_emissions.db")

# Save DataFrame to SQLite table
df.to_sql("emissions", conn, if_exists="replace", index=False)
print("Data successfully inserted into SQLite database.")

Data successfully inserted into SQLite database.

In [ ]:
cursor = conn.cursor()

query = "SELECT Name, `2019` FROM emissions WHERE Name IN ('Brazil', 'Australia') AND Substance = 'N2O';"
cursor.execute(query)

# Fetch and display the result
print(cursor.fetchall())

[('Australia', 161.60614306131), ('Brazil', 548.68334294557)]