In [3]:
import pandas as pd
import sqlite3 as db

In [4]:
df =pd.read_csv('disaster_dollar_dataset.csv')

In [5]:
columns = ['year','event','incident_number','incident_start','incident_end','state','incident_type','valid_ihp_applications','eligible_ihp_applications','ihp_total','pa_total','pa_projects_count','cdbg_dr_allocation']

In [6]:
df = df[columns]

In [7]:
df.head()

,year,event,incident_number,incident_start,incident_end,state,incident_type,valid_ihp_applications,eligible_ihp_applications,ihp_total,pa_total,pa_projects_count,cdbg_dr_allocation
0,2003,North Carolina Hurricane Isabel,1490,9/18/2003,9/26/2003,NC,Hurricane,54328.0,25950.0,45381526.0,68990855.0,1410.0,1523327.0
1,2003,Virginia Hurricane Isabel,1491,9/18/2003,10/1/2003,VA,Hurricane,92918.0,29170.0,57048029.0,201148176.0,2454.0,1431004.0
2,2003,Maryland Hurricane Isabel,1492,9/18/2003,9/29/2003,MD,Hurricane,18012.0,8686.0,33052305.0,39539110.0,1459.0,2737133.0
3,2003,District of Columbia Hurricane Isabel,1493,9/18/2003,9/29/2003,DC,Hurricane,1732.0,701.0,953918.0,4781171.0,86.0,NaN
4,2003,Delaware Hurricane Isabel,1494,9/18/2003,9/29/2003,DE,Hurricane,667.0,344.0,1459279.0,2110395.0,182.0,NaN

In [8]:
print(df.isna().sum())

year                           0
event                          0
incident_number                0
incident_start                 0
incident_end                   0
state                          0
incident_type                  0
valid_ihp_applications       747
eligible_ihp_applications    747
ihp_total                    451
pa_total                      38
pa_projects_count             95
cdbg_dr_allocation           949
dtype: int64

In [9]:
conn = db.connect('disaster_fema_hud.db')

In [11]:
df.to_sql('disaster_dollar_db',conn,if_exists='replace',index=False)